In [1]:
import pandas as pd

In [2]:
data = {'city': ['Chicago', 'Hong Kong', 'Paris', 'Dalvík'],
        'cabs': [20000, 17000, 3000, 4],
        'sports': ['Baseball', 'Table Tennis', 'Football', 'Handball']}
df = pd.DataFrame(data, columns=['city', 'cabs', 'sports'])
df.set_index(['city'], inplace=True)
df

            cabs        sports
city
Chicago    20000      Baseball
Hong Kong  17000  Table Tennis
Paris       3000      Football
Dalvík         4      Handball

## Get the name of a column

In [4]:
# Get the name of the first column
first_column = df.iloc[:,0].name
first_column

'cabs'