# Basics of Pandas Dataframes

## Create a dataframe

In [2]:
import pandas as pd
import numpy as np

# Create some data 
data = np.array([['', 'Col 1', 'Col 2'], ['Row 1', 1, 2], ['Row 2', 3, 4]])
print(data[1:, 1:])
# Convert to data frame                
df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:])
df

[['1' '2']
 ['3' '4']]

      Col 1 Col 2
Row 1     1     2
Row 2     3     4

# Create a dataframe and make one of the columns the index

In [3]:
data = {'city': ['Chicago', 'Hong Kong', 'Paris', 'Dalvík'],
        'cabs': [20000, 17000, 3000, 4],
        'sports': ['Baseball', 'Table Tennis', 'Football', 'Handball']}
df = pd.DataFrame(data, columns=['city', 'cabs', 'sports'])
df.set_index(['city'], inplace=True)
df

            cabs        sports
city
Chicago    20000      Baseball
Hong Kong  17000  Table Tennis
Paris       3000      Football
Dalvík         4      Handball

## Create an empty dataframe

In [7]:
temp_df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['A'])
print(temp_df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

In [8]:
temp_df = pd.DataFrame(index=range(0, 4), columns=['A'], dtype='float')
print(temp_df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

### Two-Dimensional array as input

In [9]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

### Dictionary as input

In [10]:
# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict))

   1  2  3
0  1  1  2
1  3  2  4

### Series as input

In [11]:
# Take a Series as input to your DataFrame (note the series gets sorted on the key)
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
df_series = pd.DataFrame(my_series)

In [12]:
df_series.index

Index(['Belgium', 'India', 'United Kingdom', 'United States'], dtype='object')

## Select an index or column

In [13]:
purchase_1 = pd.Series({'Name': 'Chris', 
                        'Item Purchased': 'Dog Food', 
                        'Cost': 22.50})


purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})

purchase_3 = pd.Series({'Name': 'Vinod', 
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

### Individual cell

In [14]:
df.index

Index(['Store 1', 'Store 2', 'Store 3'], dtype='object')

In [15]:
df.iloc[0, 0]

22.5

In [16]:
df.iloc[0]['Cost']

22.5

In [17]:
df.loc['Store 1', 'Cost']

22.5

In [18]:
df.at['Store 1', 'Cost']

22.5

### Select a row

In [19]:
df.iloc[0]

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

In [20]:
df.loc['Store 1']

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

### Select a column

In [21]:
df.iloc[:, 1]

Store 1        Dog Food
Store 2    Kitty Litter
Store 3       Bird Seed
Name: Item Purchased, dtype: object

In [22]:
df.loc[:, 'Item Purchased']

Store 1        Dog Food
Store 2    Kitty Litter
Store 3       Bird Seed
Name: Item Purchased, dtype: object

## Add an index, row or column

### Add an Index

In [23]:
print(df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

In [24]:
df.set_index('Cost')

     Item Purchased   Name
Cost
22.5       Dog Food  Chris
2.5    Kitty Litter  Kevyn
5.0       Bird Seed  Vinod

In [25]:
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

### Make the index part of the dataframe

In [26]:
# Keep the index and make a copy as a column 
temp_df = df.copy()
temp_df['New'] = df.index
temp_df

         Cost Item Purchased   Name      New
Store 1  22.5       Dog Food  Chris  Store 1
Store 2   2.5   Kitty Litter  Kevyn  Store 2
Store 3   5.0      Bird Seed  Vinod  Store 3

In [27]:
# Without a column label 
temp_df = df.copy()
temp_df.loc[:, 4] = df.index
temp_df

         Cost Item Purchased   Name        4
Store 1  22.5       Dog Food  Chris  Store 1
Store 2   2.5   Kitty Litter  Kevyn  Store 2
Store 3   5.0      Bird Seed  Vinod  Store 3

### Reset the index

In [28]:
temp_df.reset_index(level = 1, drop=True)

   Cost Item Purchased   Name        4
0  22.5       Dog Food  Chris  Store 1
1   2.5   Kitty Litter  Kevyn  Store 2
2   5.0      Bird Seed  Vinod  Store 3

# Delete Rows or Columns

## Remove a column

In [29]:
temp_df.drop(4, axis=1, inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

## Remove duplicate rows

### Create a duplicate row

In [30]:
temp_df = temp_df.append(temp_df.iloc[1, :])
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod
Store 2   2.5   Kitty Litter  Kevyn

In [31]:
temp_df.drop_duplicates(['Name'], inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

## Remove by index

In [32]:
# This will remove all rows with the index (idx)
temp_df = df.copy() 
print(df)
# Drop rows
idx = temp_df.index[-1]
temp_df.drop(idx, inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

# Rename the Index and Column

In [33]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

In [34]:
new_cols = { 'Cost': 'New column 1', 'Item Purchased': 'New Column 2', 'Name': 'Column 3'}
temp_df.rename(columns=new_cols)

         New column 1  New Column 2 Column 3
Store 1          22.5      Dog Food    Chris
Store 2           2.5  Kitty Litter    Kevyn

In [35]:
temp_df.rename(index={'Store 1': 'Main Store'})

            Cost Item Purchased   Name
Main Store  22.5       Dog Food  Chris
Store 2      2.5   Kitty Litter  Kevyn

In [36]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

# Format Data

## Replace string

In [37]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

In [38]:
temp_df.replace(['Dog Food'], 1)

         Cost Item Purchased   Name
Store 1  22.5              1  Chris
Store 2   2.5   Kitty Litter  Kevyn

### Using Regex

In [39]:
temp_df.replace(['Dog'], ['Pet'], regex=True)

         Cost Item Purchased   Name
Store 1  22.5       Pet Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

## Removing parts from a string

In [40]:
temp_df['result'] = temp_df['Item Purchased'].map(lambda x: x.lstrip('D').rstrip('r'))
temp_df

         Cost Item Purchased   Name       result
Store 1  22.5       Dog Food  Chris      og Food
Store 2   2.5   Kitty Litter  Kevyn  Kitty Litte

In [41]:
temp_df = df.copy()

### Iterate over a dataframe

In [42]:
for index, row in temp_df.iterrows():
    print(index + ' - ' + str(row['Cost']))

Store 1 - 22.5
Store 2 - 2.5
Store 3 - 5.0

# Multi-index

In [43]:
data = np.array([['Fruit', 'Color', 'Count', 'Price'], ['Apple', 'Red', 3, '$1.29'], ['Apple', 'Green', 9, '$0.99'],
    ['Pear', 'Red', 25, '$2.59'], ['Pear', 'Green', 26, '$2.79'], ['Lime', 'Green', 99, '$0.39']])

df = pd.DataFrame(data=data[1:, 0:], columns=data[0, :])
df

   Fruit  Color Count  Price
0  Apple    Red     3  $1.29
1  Apple  Green     9  $0.99
2   Pear    Red    25  $2.59
3   Pear  Green    26  $2.79
4   Lime  Green    99  $0.39

In [44]:
df_mi = df.set_index(['Fruit', 'Color'])
df_mi

            Count  Price
Fruit Color
Apple Red       3  $1.29
      Green     9  $0.99
Pear  Red      25  $2.59
      Green    26  $2.79
Lime  Green    99  $0.39

## Get all rows with index 'Apple'

In [45]:
df_mi.xs('Apple')

      Count  Price
Color
Red       3  $1.29
Green     9  $0.99

## Get all rows that are indexed as 'Red' at the level 'Color'

In [46]:
df_mi.xs('Red', level='Color')

      Count  Price
Fruit
Apple     3  $1.29
Pear     25  $2.59

## Same results as above - get all rows that are indexed as 'Red' at level 1

In [47]:
df_mi.xs('Red', level=1)

      Count  Price
Fruit
Apple     3  $1.29
Pear     25  $2.59

## Querying the data frame

### Find all rows of  "Apple" "Red"

In [48]:
df_mi.loc[('Apple', 'Red'), :]

Count        3
Price    $1.29
Name: (Apple, Red), dtype: object

### Find all apples

In [49]:
df_mi.loc[('Apple'), :]

      Count  Price
Color
Red       3  $1.29
Green     9  $0.99

## Lexsorting

### Pandas really wants your DataFrame to be sorted if you are doing complicated queries with a MultiIndex. 

### Slice queries require sorting.

In [50]:
# Multi-index dataframe 
df_mi

            Count  Price
Fruit Color
Apple Red       3  $1.29
      Green     9  $0.99
Pear  Red      25  $2.59
      Green    26  $2.79
Lime  Green    99  $0.39

In [51]:
# Sort the dataframe 
df_mi.sortlevel(inplace=True)

In [52]:
# Now sorted with Lime before Pear and Green before Red
df_mi

            Count  Price
Fruit Color
Apple Green     9  $0.99
      Red       3  $1.29
Lime  Green    99  $0.39
Pear  Green    26  $2.79
      Red      25  $2.59

## Querying the data frame with .loc[] for ranges of values

 ### As the docs say, "contrary to usual python slices, both the start and the stop are included!"

In [53]:
# Not using slice
df_mi.loc['Apple', :]

      Count  Price
Color
Green     9  $0.99
Red       3  $1.29

In [54]:
# Using slice
df_mi.loc[slice('Apple', 'Apple'), :]

            Count  Price
Fruit Color
Apple Green     9  $0.99
      Red       3  $1.29

In [56]:
# Query both levels of the index
df_mi.loc[(slice('Apple', 'Apple'), slice(None)), :] # slice(None) is a wildcard of sorts.

            Count  Price
Fruit Color
Apple Green     9  $0.99
      Red       3  $1.29

In [58]:
# Get all fruit with color 'red'
df_mi.loc[(slice(None), slice('Red', 'Red')), :]

            Count  Price
Fruit Color
Apple Red       3  $1.29
Pear  Red      25  $2.59

In [78]:
# All green Limes and Pears
df_mi.loc[(slice('Lime', 'Pear'), slice('Green')), :]

            Count  Price
Fruit Color
Lime  Green    99  $0.39
Pear  Green    26  $2.79

In [ ]:
# Using IndexSlice for less typing

In [83]:
idx = pd.IndexSlice

df_mi.loc[idx[:,['Red']], :]

            Count  Price
Fruit Color
Apple Red       3  $1.29
Pear  Red      25  $2.59

In [84]:
df_mi.loc[idx['Lime':'Pear','Green'],:]

            Count  Price
Fruit Color
Lime  Green    99  $0.39
Pear  Green    26  $2.79